body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    background: #f4f4f4; 
}
header, footer { 
    background: #333; 
    color: #fff; 
    padding: 1rem;
    text-align: center; 
}
nav a { 
    color: #fff; 
    margin: 0 1rem; 
    text-decoration: none; 
}
img { 
    width: 100%; 
    max-height: 300px; 
    object-fit: cover; 
    border-radius: 8px; 
}
h1 { 
    margin-top: 1rem; 
}
.container {
    display: flex;
    felx-wrap: wrap; 
    gap: 2rem;
    padding: 2rem; 
}
.thumbnail-row {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}
.thumbnail {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid transparent;
}
.thumbnail:hover {
  border-color: #333;
}
.product-image {
  flex: 1;
  min-width: 300px;
}

.product-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-details {
  flex: 1;
  min-width: 300px;
}

.product-details h1 {
    margin-top: 0;
}

.price {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #d35400;
}

.sizes select {
  margin-left: 0.5rem;
  padding: 0.3rem;
}

.description {
  margin: 1rem 0;
  color: #555;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: #27ae60;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #219150;
}